<div class="d-flex align-items-center justify-content-between p-4 border">
  <p>Best restaurants</p>
  <div class="d-flex align-items-center justify-content-between">
    <%= link_to 'All Restaurants', restaurants_path, class: 'ms-2' %>
    <%= link_to 'Top Restaurants', top_restaurants_path, class: 'ms-2' %>
  </div>
</div>